.row
  .col-xs-12
    - @contents.each do |content|
      .row
        .col-xs-12
          %h2= content.identifier
      .row
        .col-xs-12
          %p= content.text
      .row
        .col-xs-12
          = button_to "Edit", edit_content_path(content.id), :method => :get
          = button_to "Delete", content, data: { confirm: "Are you sure you want to delete this content?" }, :method => :delete
