.row
  .col-xs-3
  - identifier = "home-index-heading"
  - text = @page.contents.find_by(identifier: identifier).text
  .col-xs-6(class=identifier)
    %h1 This Is A Sample Website On Dremplate
    %h3 <a href="users/sign_in">Sign In</a> to <strong class="customize">#{text}</strong> Me Up!
  .col-xs-3
.row
  .col-xs-3
  - identifier = "home-index-head-image"
  - image = @page.graphics.find_by(identifier: identifier).image
  .col-xs-6(class=identifier)
    =image_tag(asset_path(image))
  .col-xs-3
