- if @errors
  %ul
    - @errors.each do |error|
      %li
        %p.alert=error
- if @page.contents
  %ul
    - @page.contents.each do |content|
      %li
        %strong=link_to "#{content.identifier}", edit_content_path(content)

        /%strong=button_to "Remove"

        %p
          =render inline: content.text
