.home-index-heading {
  text-align: center;
}

.home-index-coin-flip-box {
  text-align: center;
  margin: 1.5em;
}

.home-index-coin-flip {
  img {
    border-radius: 50%;
  }
}

.customize {
  color: rgba(180, 5, 0, .9);
}

.mad-lib {
  h3, h4 {
    text-align: center;
    margin: 1em;
  }
}

.trivia-box {
  margin: 1.25em auto 1.75em auto;
}

.trivia-heading {
  margin: 0em auto 1em auto;
  text-align: center;
}

.trivia-question {
  margin: 1.5em auto;
}

.trivia-images {
  text-align: center;
}
